<nav class="demo-nav mdl-cell mdl-cell--12-col">
	{{#if prev}}
	<a href="{{page_url prev}}" class="demo-nav__button">
		<span class="mdl-shadow--4dp">More</span>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-shadow--4dp">
			<i class="material-icons">arrow_backward</i>
		</button>
	</a>
	{{/if}}
	<div class="section-spacer"></div>
	{{#if next}}
	<a href="{{page_url next}}" class="demo-nav__button">
		<span class="mdl-shadow--4dp">More</span>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-shadow--4dp">
			<i class="material-icons">arrow_forward</i>
		</button>
	</a>
	{{/if}}
</nav>
