<div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
	<section class="comment">
	<div class="g-comments" data-href="{{url absolute="true"}}" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD">Loading Google+ Comments ...</div>
	<script async type="text/javascript" src="//apis.google.com/js/plusone.js?callback=gpcb"></script>
	<noscript>Please enable JavaScript to view the <a href="https://plus.google.com/">comments powered by Google+.</a></noscript>
	</section>
</div>
