<div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
  <a class="muut"
    href="https://muut.com/i/community-name/comments/{{@blog.title}}/{{slug}}"
    data-show_title="false">
    Comments
  </a>
  <script src="//cdn.muut.com/1/moot.min.js"></script>
</div>
