{{!< common}}

		<main class="mdl-layout__content">
			{{#post}}
			<div class="demo-blog__posts mdl-grid">
				<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
					{{> post-content}}
					{{!-- {{> post-comment-visualonly}} --}}
					{{!-- {{> post-comment-googleplus}} --}}
					{{!-- {{> post-comment-facebook}} --}}
					{{!-- {{> post-comment-muut}} --}}
				</div>

				{{> post-nav}}
			</div>
			{{> common-footer}}
			{{/post}}
		</main>
